*{
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
    top: 20vh;
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

header{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.introduction,.introduction table{
    align-self: center;
}

table, td, tr, th{
    text-align: center;
    border: 1px solid black;
}

td{
    padding: 10px 40px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

#name{
    text-align: center;
    font-size: 32px;
}

.info{
    display: flex;
    width: 80%;
    height: auto;
}

.fa-circle-left:active{
    opacity:  0.3;
}

.details{
    width: 60%;
    height: 650px;
    
}

.details h1{
    text-align: center;
}
.details ul{
    padding-left: 30px;
}

.details ul li{
    font-size: 24px;
    line-height: 2;
}

.fa-circle-left{
    font-size: 32px;
    color: black;
    padding-left: 30px;
    margin:23px 0;
    width: 30%;
}

.navbar{
    display: flex;
    width: 100%;
}

.navbar h1{
    text-align: center;
    font-size: 32px;
    margin:20px 0;
    width: 100%;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.info img{
    width: 50%;
    height: 650px;
    margin-left: 150px;
}

nav{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
    border: 1px solid black;
}

nav ul li {
    font-size: 16px;
    padding: 10px 10px;
    border-right: 1px solid black;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    text-decoration: none;
    color: blue;
}