*{
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
    top: 20vh;
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

header{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.introduction,.introduction table{
    align-self: center;
}

table, td, tr, th{
    text-align: center;
    border: 1px solid black;
}

td{
    padding: 10px 40px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

#name{
    text-align: center;
    font-size: 32px;
}

.info{
    display: flex;
    width: 100%;
    height: auto;
}