p{
    color: red;
}

p{
    color: green;
}

p{
    color: red;
}

em{
    color: blue;
}

p em{
    color: green;
}

.error{
    color: red;
}

.success{
    color: green;
}

.info{
    color: blue;
}